body {
  min-height: 100vh;
  margin: 0;
  background: #18181a;
  color: #f4f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  background: #232329;
  border-radius: 30px;
  padding: 6rem;
  box-shadow: 0 0 28px 6px #a5bfff88;
  font-size: x-large;
}

h1 {
  color: #a5bfff;
  text-shadow: 0 0 8px #2d3a66;
  text-align: center;
  margin-bottom: 1rem;
}