body {
  min-height: 100vh;
  margin: 0;
  background: #18181a;
  color: #f4f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  background: #232329;
  border-radius: 30px;
  padding: 6rem;
  box-shadow: 0 0 28px 6px #a5bfff88;
  font-size: x-large;
}

h1 {
  color: #a5bfff;
  text-shadow: 0 0 8px #2d3a66;
  text-align: center;
  margin-bottom: 1rem;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 3px;
}

.checkMarks {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
}

.checkMarks img {
  width: 30px;
  max-width: 30px;
  height: 30px;
  max-height: 30px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  min-width: 60px;
  justify-content: flex-start;
}